{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748415562fee26e070fa4664ad926c8e30146c67000">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://meiriyiwen.com/">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.jiumodiary.com/">搜书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="https://wangchujiang.com/linux-command/" target="_blank">Linux Command</a> |</li>
                <li><a href="https://wangchujiang.com/awesome-mac/" target="_blank">Awesome Mac</a> |</li>
                <li><a href="https://wangchujiang.com/github-rank/" target="_blank">Github Ranking</a> |</li>
                <li><a href="https://react-doc.github.io/" target="_blank">React Doc</a> |</li>
                <li><a href="https://wangchujiang.com/idoc/" target="_blank">iDoc</a> |</li>
                <li><a href="https://wangchujiang.com/hotkeys/" target="_blank">Hotkeys</a> |</li>
                <li><a href="https://wangchujiang.com/iNotify/" target="_blank">iNotify</a> |</li>
                <li><a href="https://wangchujiang.com/validator.js/" target="_blank">Validator.js</a> |</li>
                <li><a href="https://wangchujiang.com/translater.js/" target="_blank">Translater.js</a> |</li>
                <li><a href="https://wangchujiang.com/react-monacoeditor/" target="_blank">React Monacoeditor</a> |</li>
                <li><a href="https://wangchujiang.com/sb/" target="_blank">SVG Badges</a> |</li>
                <li><a href="https://wangchujiang.com/magic-input/" target="_blank">Magic Input</a> |</li>
                <li><a href="https://jsdig.com/" target="_blank">FED</a> |</li>
                <li><a href="https://wangchujiang.com/dev-site/" target="_blank">Dev Site</a> |</li>
                <li><a href="https://wangchujiang.com/my-repos/" target="_blank">My Repos</a> |</li>
                <li><a href="https://zh.recompressor.com/" target="_blank">图像优化</a></li>
            </ul>

        </div>
    </div>

{% endblock %}